<!-- Validation failure messages -->
<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Team #<%= @team.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_team/<%= @team.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for creator_id -->
      <input type="hidden" id="creator_id" name="creator_id" value=" <%= current_user.id %>">

      <!-- Label and input for competitions_id -->
      <div class="form-group">
        <label for="competitions_id" class="control-label">
          Competitions
        </label>

        <%= select_tag(:competitions_id, options_from_collection_for_select(Competition.all, :id, :name, @team.results), :class => "form-control") %>
        <a href="/competitions/new"> or add a new competition</a>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @team.name %>">
      </div>

      <!-- Label and input for number_members -->
        <input type="hidden" id="number_members" name="number_members" placeholder="Number members" class="form-control" value=4>

      <button class="btn btn-warning">
        Update Team
      </button>
      or
      <a href="/teams/<%= @team.id %>">Cancel</a>
    </form>
  </div>
</div>
