<!-- Validation failure messages -->
<% if @competition.errors.any? %>
  <% @competition.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Competition #<%= @competition.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_competition/<%= @competition.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @competition.name %>">
      </div>

      <!-- Label and input for sponsor -->
      <div class="form-group">
        <label for="sponsor" class="control-label">
          Sponsor
        </label>

        <input type="text" id="sponsor" name="sponsor" placeholder="Sponsor" class="form-control" value="<%= @competition.sponsor %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @competition.location %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @competition.description %></textarea>
      </div>

      <!-- Label and input for prize_money -->
      <div class="form-group">
        <label for="prize_money" class="control-label">
          Prize money
        </label>

        <input type="text" id="prize_money" name="prize_money" placeholder="Prize money" class="form-control" value="<%= @competition.prize_money %>">
      </div>

      <!-- Label and input for topic -->
      <div class="form-group">
        <label for="topic" class="control-label">
          Topic
        </label>

        <input type="text" id="topic" name="topic" placeholder="Topic" class="form-control" value="<%= @competition.topic %>">
      </div>

      <!-- Label and input for deadline -->
      <div class="form-group">
        <label for="deadline" class="control-label">
          Deadline
        </label>

        <input type="text" id="deadline" name="deadline" placeholder="Deadline" class="form-control" value="<%= @competition.deadline %>">
      </div>

      <button class="btn btn-warning">
        Update Competition
      </button>
      or
      <a href="/competitions/<%= @competition.id %>">Cancel</a>
    </form>
  </div>
</div>
