<div class="page-header">
  <h3>Invitation #<%= @invitation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Creator</dt>
      <dd><%= @invitation.creator_id %></dd>

      <dt>Member</dt>
      <dd><%= @invitation.member_id %></dd>

      <dt>Accepted</dt>
      <dd><%= @invitation.accepted %></dd>

      <dt>Team</dt>
      <dd><%= @invitation.team_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/invitations" class="btn btn-primary">
        Back
      </a>
      <a href="/invitations/<%= @invitation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_invitation/<%= @invitation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
